// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


h2{
    color: blue;
    }
h4{
     color: white;
    }

/* carrito ------------------*/
.table-cart
{
  background: #fff;
  border-radius: 1em;
  margin-bottom: 30px;
  padding: 1em;
}
.table-cart img
{
  width: 50px;
}